{% extends 'base.html' %}

{% block content %}


{% if shw != None %}
    <section class='form'>
        <h2>&nbsp;&nbsp;EDIT SHOW&nbsp;&nbsp;</h2>
        <form action="{{ url_for('manager.edit_post', id=current_data.id) }}" method="post">
            
            <div>
                <label>Movie: <br></label>
                <select name="movie" required>
                <option value="{{current_data.movie.id}}" selected>{{current_data.movie.title}}</option>
                {% for movie in movies %}
                    {% if movie.id != current_data.movie.id %}
                        <option value="{{movie.id}}">{{movie.title}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div>
                <label><br>Venue: <br></label>
                <select name="venue" required>
                <option value="{{current_data.venue.id}}" selected>{{current_data.venue.name}}</option>
                {% for venue in venues %}
                    {% if venue.id != current_data.venue.id %}
                        <option value="{{venue.id}}">{{venue.name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div>
                <label><br>Date:<br></label>
                <input type="date" name="day" value="{{current_data.day}}" min="2023-01-01" max="2023-12-31" required>
            </div>
            <div>
                <label><br>Time:<br></label>
                <input type="time" name="time" value="{{current_data.time}}" required>
            </div>
            
            <div><input class='submit' type="submit" value="Edit"/></div>
        
        
        </form>

    </section>
{% endif %}


{% endblock %}