{% extends 'base.html' %}

{% block content %}


{% if shw != None %}
<section class='form'>
    <h2>&nbsp;&nbsp;ADD A NEW SHOW&nbsp;&nbsp;</h2>
    <form action="{{ url_for('manager.add_post') }}" method="post">

        <div>
            <label>Movie: <br></label>
            <select name="movie" required>
            {% for movie in movies %}
                <option value="{{movie.id}}">{{movie.title}}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <label><br>Venue: <br></label>
            <select name="venue" required>
            {% for venue in venues %}
                <option value="{{venue.id}}">{{venue.name}} {{venue.location}}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <label><br>Date:<br></label>
            <input type="date" name="day" value="{{current_day}}" min="2023-01-01" max="2023-12-31" required>
        </div>
        <div>
            <label><br>Time:<br></label>
            <input type="time" name="time" value="00:00" required>
        </div>
        
        <div><input class='submit' type="submit" value="Add"/></div>
     
      
    </form>

</section>
{% endif %}


{% endblock %}